$txt: #FFFFFF;
$bkg: #000000;
body {
    background-color: $bkg;
    color: $txt;
}
a:link {
    color: $txt;
}
a:visited {
    color: $txt;
}
a:hover {
    color: $txt;
}
a:active {
    color: $txt;
}